@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes scaleIn {
  from { transform: scale(0.6); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

.animate-scaleIn {
  animation: scaleIn 0.4s ease-in-out;
}
